.scroll-form {
    height: 440px;
    overflow: scroll;
    overflow-x: hidden;
}

.custom-dropzone {
  width: 100%;
  height: 100%;
}

.preview-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.preview-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.remove-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: red;
  color: white;
  border: none;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  cursor: pointer;
}
.image-upload-container {
  position: relative;
  width: 200px;
  height: 200px;
}

.custom-dropzone {
  width: 100%;
  height: 100%;
  border: 2px dashed #cbd5e1;
  border-radius: 10px;
}


// /* CONTENEDOR GENERAL */
.ng-select .ng-select-container {
  min-height: 42px;
  border-radius: 8px;
}

/* OPCIONES DEL DROPDOWN */
.promo-badge-option {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  padding: 6px 12px;
  border-radius: 20px;
  font-size: 13px;
  font-weight: 500;
  transition: all 0.2s ease;
}

.promo-badge-option i {
  font-size: 12px;
}

/* ITEM SELECCIONADO */
.promo-badge-selected {
  display: inline-flex;
  align-items: center;
  gap: 6px;
  padding: 4px 12px;
  border-radius: 20px;
  font-size: 13px;
  font-weight: 500;
  color: white;
}

.promo-badge-selected i {
  font-size: 12px;
}

