<div class="modal-header" *ngIf="titulo">
	<h4 class="modal-title" id="modal-basic-title">{{titulo}}</h4>
	<button type="button" class="btn-close" aria-label="Close" (click)="getDismissReason(0)"></button>
</div>
<div class="modal-body" *ngIf="titulo">
	<form [formGroup]="formGrup" class="space-y-3">
		<div class="container mt-1">
			<div class="table-responsive">
				<table class="table mb-0">
					<thead class="table-light">
						<tr>
							<th>Producto</th>
							 <th>Cantidad</th>
							 <th>Precio Unid.</th>
							 <th>SubTotal</th>
							<th>Descuento</th>
						</tr>
					</thead>
					<tbody>
						<ng-container *ngIf="lista">
							<tr *ngFor="let item of lista">
								<td>{{ item.producto }}</td>
								<td>{{ item.cantidad }}</td>
								<td>{{ item.precio }}</td>
								<td>{{ +item.precio * +item.cantidad }}</td>
								<td>{{ item.descuento }}</td>
							</tr>
						</ng-container>
					</tbody>
					<tfoot>
						<tr>
								<td colspan="3" class="total">Totales</td>
								<td>S/{{total}}</td>
								<td>S/{{descuento}}</td>
						</tr>
				</tfoot>
				</table>
			</div>
		</div>
	</form>
</div>