<div class="row mb-md-2">
    <div class="col-sm-12 col-md-6">
        <div class="dataTables_length" id="tickets-table_length"><label class="d-inline-flex align-items-center">Show
                <select name="tickets-table_length" aria-controls="tickets-table" name="pageSize"
                    [(ngModel)]="service.pageSize" class="form-control form-control-sm mx-2">
                    <option [ngValue]="10">10</option>
                    <option [ngValue]="25">25</option>
                    <option [ngValue]="50">50</option>
                    <option [ngValue]="100">100</option>
                </select> entries</label></div>
    </div>
    <!-- Search -->
    <div class="col-sm-12 col-md-6">
        <div id="tickets-table_filter" class="dataTables_filter text-md-end"><label
                class="d-inline-flex align-items-center">Search:
                <input type="text" name="searchTerm" class="form-control form-control-sm ms-2"
                    aria-controls="tickets-table" [(ngModel)]="service.searchTerm"></label></div>
    </div>
    <!-- End search -->
</div>
<!-- Table -->
<div class="table-responsive">
    <table id="basic-datatable" class="table table-bordered dt-responsive nowrap datatables no-footer dtr-inline">
        <thead>
            <tr>
                <th sortable="category_name" (sort)="onSort($event)">Categoria</th>
                <th sortable="category_name" (sort)="onSort($event)">Alias Categoria</th>
                <th sortable="category_name" (sort)="onSort($event)">Tipo Categoria</th>
                <th sortable="status" (sort)="onSort($event)">Estado</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody *ngFor="let table of tables$;let i=index">
            <tr>
                <td>
                    <ngb-highlight [result]="table.category_name" [term]="service.searchTerm"></ngb-highlight>
                </td>
                <td>
                    <ngb-highlight [result]="table.category_alias" [term]="service.searchTerm"></ngb-highlight>
                </td>
                <td>
                    <span *ngIf="+table.type_category === 1">Opciones del Menú Principal</span>
                    <span *ngIf="+table.type_category === 2">Subcategorías por Sección del Sistema</span>
                  </td>
                <td>
                    <button *ngIf="+table.status === 0" type="button"
                        class="btn d-flex btn-light-danger d-block text-danger font-medium">
                        Desabilitado
                    </button>
                    <button type="button" *ngIf="+table.status === 1"
                        class="btn d-flex btn-light-success d-block text-success font-medium">
                        Habilitado
                    </button>

                </td>
                <td>
                    <button type="button" ngbTooltip="Actualizar Categoria" (click)="edit(table.id)"
                        class="btn btn-sm btn-outline-success">
                        <span><i class="fas fa-edit"></i></span>
                    </button>
                    <button type="button" ngbTooltip="Eliminar categoria" (click)="eliminar(table.id)"
                        class="btn btn-sm btn-outline-danger" style="margin-left: 5px">
                        <span><i class="fas fa-trash"></i></span>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<!-- End table -->
<div class="row justify-content-md-between align-items-md-center mt-2">
    <div class="col-sm-12 col-md-5">
        <div class="dataTables_info mb-2" id="tickets-table_info" role="status" aria-live="polite">Showing
            {{service.startIndex}} to
            {{service.endIndex}} of {{service.totalRecords}}
            entries
        </div>
    </div>
    <!-- Pagination -->
    <div class="col-sm-12 col-md-5">
        <div class="text-md-right float-md-end pagination-rounded">
            <ngb-pagination [collectionSize]="total$" [(page)]="service.page" [pageSize]="service.pageSize">
            </ngb-pagination>
        </div>
    </div>
    <!-- End Pagination -->
</div>







