<!-- <div class="modal-header" *ngIf="titulo">
    <h4 class="modal-title" id="modal-basic-title">{{titulo}}</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="getDismissReason(0)"></button>
  </div>
  <div class="modal-body" *ngIf="titulo">
    <form [formGroup]="formGrupCate" (ngSubmit)="onSubmit()" class="space-y-3">
      <div class="container mt-1">
        <div class="row">
          <div class="col-md-6 mb-6">
            <div class="form-group">
              <label for="exampleInputName">Nombre Categoria</label>
              <input type="text" formControlName="category_name" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.controls['category_name'].errors }" id="category_name"/>
                <div *ngIf="submitted && f.controls['category_name'].errors" class="invalid-feedback">
                 <div *ngIf="f.controls['category_name'].errors?.['required']">Nombre categoria es requerido</div>
                </div>
            </div>
          </div>
          <div class="col-md-6 mb-6">
            <div class="form-group">
              <label for="exampleInputPassword1">Tipo Categoria</label>
              <div class="custom-dropdown-container">
                <ng-select  [ngClass]="{ 'is-invalid': submitted && f.controls['type_category'].errors }" [items]="tipoCategoria"
                  bindLabel="descripcion" formControlName="type_category" placeholder="Seleccionar Tipo categoria" bindValue="val">
                </ng-select>
                <div *ngIf="submitted && f.controls['type_category'].errors" class="invalid-feedback">
                  <div *ngIf="f.controls['type_category'].errors?.['required']">Tipo categoria es requerido</div>
                 </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <p></p>
      <div class="form-group d-flex justify-content-end">
        <button type="submit" class="btn btn-outline-info rounded">
          <span *ngIf="!isLoading">Guardar</span>
          <i *ngIf="isLoading" class="fas fa-spinner fa-pulse fa-2x"></i>
        </button>
      </div>
    </form>
  </div> -->

  <div class="modal-header" *ngIf="titulo">
  <h4 class="modal-title" id="modal-basic-title">{{ titulo }}</h4>
  <button
    type="button"
    class="btn-close"
    aria-label="Close"
    (click)="getDismissReason(0)"
  ></button>
</div>
<div class="modal-body" *ngIf="titulo">
  <form [formGroup]="formGrupCate" (ngSubmit)="onSubmit()">
    <div class="menus-scroll">
      <div formArrayName="categorias">
        <div
          *ngFor="let cat of categorias.controls; let i = index"
          [formGroupName]="i"
          class="menu-card p-3 mb-3 border rounded"
        >
          <div class="row">
            <!-- Descripción -->
            <div class="col-md-6">
              <label class="form-label">Nombre categoria</label>
              <input
                type="text"
                formControlName="nombre"
                class="form-control"
                placeholder="Escribir aqui...."
                [ngClass]="{ 'is-invalid': submitted && cat?.get('nombre')?.invalid
                }"
              />
              <div *ngIf=" submitted && cat?.get('nombre')?.invalid " class="invalid-feedback">
                <div *ngIf="cat ?.get('nombre') ?.hasError('required') " >
                  El nombre de la categoria es obligatorio
                </div>
              </div>
            </div>

              <div class="col-md-6 mb-2">
                  <div class="form-group">
                    <label for="exampleFormControl">Seleccione Tipo Categoria</label >
                    <ng-select
                      [items]="tipoCategoria"
                      bindLabel="descripcion"
                      formControlName="tipoCategoria"
                      placeholder="Seleccionar"
                      bindValue="val"
                      [ngClass]="{ 'is-invalid': submitted &&  cat?.get('tipoCategoria')?.invalid   }"
                    >
                    </ng-select>
                     <div *ngIf=" submitted && cat?.get('tipoCategoria')?.invalid "  class="invalid-feedback"  >
                        <div *ngIf="cat?.get('tipoCategoria') ?.hasError('required') ">
                               Tipo categoria es obligatorio
                        </div>
                      </div>
                   </div>
              </div>

            <!-- Imagen -->
            <div class="col-md-4">
              <div class="image-upload-container">
                <ngx-dropzone
                  (change)="onSelect($event, i)"
                  [multiple]="false"
                  accept="image/jpeg,image/jpg,image/png,image/webp"
                >
                  <ngx-dropzone-label *ngIf="!filePrincipal[i]">
                    Subir Imagen
                  </ngx-dropzone-label>
                </ngx-dropzone>

                <div *ngIf="filePrincipal[i]" class="preview-overlay">
                  <img [src]="filePrincipal[i].preview" class="preview-image" />
                  <button
                    type="button"
                    class="remove-btn"
                    (click)="removeImage(i)"
                  >
                    ✕
                  </button>
                </div>
              </div>
            </div>
          </div>

          <div class="text-end mt-2">
            <button
              type="button"
              class="btn btn-sm btn-danger"
              (click)="removeMenu(i)"
              *ngIf="categorias.length > 1"
            >
              Eliminar
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="mb-3" *ngIf="!categoryId">
      <button type="button" class="btn btn-outline-primary" (click)="addMenu()">
        + Agregar Categoria
      </button>
    </div>

    <div class="text-end">
      <button type="button" class="btn btn-outline-info" (click)="onSubmit()">
        <span *ngIf="!isLoading"> Guardar</span>
        <i *ngIf="isLoading" class="fas fa-spinner fa-pulse fa-1x"></i>
      </button>
    </div>
  </form>
</div>
