<div class="container-fluid">
  <div class="row justify-content-center mt-lg-5">
    <div class="col-xl-7 col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="card">
        <div class="card-body">
          <div class="text-center">
            <div class="row justify-content-center">
              <div class="col-lg-10">
                <h5 class="mt-4 fw-semibold">
                  REGISTRA TU SESSION DE WHASSATP
                </h5>
              </div>
            </div>

            <div class="row mt-4 mb-2">
              <div class="col-sm-12 col-12 col-md-12">
                <ng-container
                  *ngIf="!configWhatssap?.isConnect; else connected"
                >
                  <img
                    *ngIf="qr"
                    [src]="qr"
                    alt="QR WhatsApp"
                    class="img-fluid mb-3"
                    style="max-width: 280px"
                  />
                  <p class="text-muted mb-0">
                    Escanea el código QR con WhatsApp
                  </p>
                </ng-container>

                <!-- Estado: conectado -->
                <ng-template #connected>
                  <img
                    src="assets/images/connect.png"
                    alt="Conectado"
                    class="img-fluid mb-3"
                  />
                  <h5 class="text-success">Conexión exitosa</h5>
                </ng-template>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end row -->
</div>
