<div class="account-pages my-5 pt-sm-5">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8 col-lg-6 col-xl-5">
        <div class="card overflow-hidden">
          <div class="bg-soft bg-primary">
            <div class="row">
              <div class="col-7">
                <div class="text-primary p-4">
                  <h5 class="text-primary">Crear Cuenta</h5>
                </div>
              </div>
              <div class="col-5 align-self-end">
                <img src="assets/images/profile-img.png" alt="" class="img-fluid">
              </div>
            </div>
          </div>
          <div class="card-body pt-0">
            <div>
              <a routerLink="/">
                <div class="avatar-md profile-user-wid mb-4">
                  <span class="avatar-title rounded-circle bg-light">
                    <img src="assets/images/logo.svg" alt="" class="rounded-circle" height="34">
                  </span>
                </div>
              </a>
            </div>
            <div class="p-2">

              <form class="needs-validation" name="signupForm" [formGroup]="signupForm" (ngSubmit)="onSubmit()"
                novalidate>

                <ngb-alert type="success" *ngIf="successmsg" [dismissible]="false">Registro exitoso
                </ngb-alert>

                <ngb-alert type="danger" *ngIf="error" [dismissible]="false">{{ error }}</ngb-alert>

                <div class="mb-3">
                  <label for="username" class="form-label">Numero Documento</label>
                  <input type="text" class="form-control" appNumberOnly [ngClass]="{ 'is-invalid': submitted && f.num_document.errors }" formControlName="num_document">
                  <div *ngIf="submitted && f.num_document.errors" class="invalid-feedback">
                    <div *ngIf="f.num_document.errors.required">El numero documento es requerido</div>
                    <div *ngIf="f.num_document.errors.maxlength">El maximo de digitos es 8 </div>
                    <div *ngIf="f.num_document.errors.minlength">El minimo de digitos es 8 </div>
                  </div>
                  <!-- <input type="text" formControlName="num_document" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && f.num_document.errors }" id="codigo-alumno" placeholder="00000000" />

                  <div *ngIf="submitted && f.num_document.errors" class="invalid-feedback">
                    <div *ngIf="f.num_document.errors.required">Numero documento es requerido</div>
                  </div> -->
                </div>
                <div class="mb-3">
                  <label for="email" class="form-label">Email</label>

                  <input type="email" formControlName="us_email" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && f.us_email.errors }" id="email" placeholder="Email" />

                  <div *ngIf="submitted && f.us_email.errors" class="invalid-feedback">
                    <div *ngIf="f.us_email.errors.required">Email es requerido</div>
                    <div *ngIf="f.us_email.errors.email">El correo electrónico debe ser una dirección válida</div>
                  </div>
                </div>

                <div class="mb-3">
                  <label for="password" class="form-label">Password</label>

                  <input type="password" formControlName="us_password" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && f.us_password.errors }" id="password" placeholder="Password" />

                  <div *ngIf="submitted && f.us_password.errors" class="invalid-feedback">
                    <div *ngIf="f.us_password.errors.required">Password es requerido</div>
                  </div>
                </div>
                <div class="mt-4 d-grid">
                  <button class="btn btn-primary" type="submit" [disabled]="submitted">
                    <span *ngIf="!submitted">Registrarte</span>
                    <i *ngIf="submitted" class="fas fa-spinner fa-pulse fa-2x"></i>
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
        <!-- end card -->

        <div class="mt-5 text-center">
          <p>Ya tienes una cuenta ? <a routerLink="/account/login" class="fw-medium text-primary"> Login</a>
          </p>
          <p>© {{year}} System PPP. UPEU</p>
        </div>
      </div> <!-- end col -->
    </div>
    <!-- end row -->
  </div>
  <!-- end container -->
</div>