<div class="modal-header" *ngIf="titulo">
    <h4 class="modal-title" id="modal-basic-title">{{titulo}}</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="getDismissReason(0)"></button>
  </div>
  <div class="modal-body" *ngIf="titulo">
  
    <!-- <div class="alert alert-danger" *ngIf="errors.length > 0"  role="alert">
      <span *ngFor="let err of errors; let last = last">
          <span [innerHTML]="'*' + err.mensaje + (last ? '' : '<br>')"></span>
      </span>
    </div> -->
    <form [formGroup]="formGrupRoles" [ngClass]="roles.length < 5 ? '' : 'scroll-form'">
      <button type="button" class="btn btn-outline-success" (click)="agregar()" *ngIf="!formRoles">Agregar Perfil</button>
      <p></p>
      <div formArrayName="roles" >
        <div class="container">
          <div *ngFor="let rol of roles.controls; let i = index" [formGroupName]="i">
            <ng-container *ngIf="rol as rolFormGroup">
              <div class="row d-flex justify-content-around">
                <div class="col-md-11 mb-3">
                  <div class="form-group">
                    <label for="inputNombre">Descripción Perfil</label>
                    <input type="text" class="form-control text-uppercase" formControlName="role_name"
                      id="role_name"
                      [ngClass]="{ 'is-invalid': submitted && rolFormGroup.get('role_name')?.invalid }" />
                    <div *ngIf="submitted  && rolFormGroup.get('role_name')?.invalid"
                      class="invalid-feedback">
                      <div *ngIf="rolFormGroup.get('role_name')?.hasError('required')">Perfil es  requerido</div>
                    </div>
                  </div>
                </div>
                <div class="col-md-1 mb-3" >
                  <div class="form-group">
                    <button type="button" *ngIf="!formRoles" (click)="eliminar(i)" class="btn btn-sm btn-outline-danger mt-4" >  <span><i class="fas fa-trash"></i></span>
                    </button>
                  </div>
                </div>
      
              </div>
            </ng-container>
          </div>
        </div>
      </div>
    </form>
    <div class="modal-footer" style="position: static;">
      <button type="submit" class="btn btn-outline-info" (click)="onSubmit()">
        <span *ngIf="!isLoading"> Guardar</span>
        <i *ngIf="isLoading" class="fas fa-spinner fa-pulse fa-1x"></i>
      </button>
    </div>